body {
    font-size: 16px;
    background-color: #BF9004;
    color: #0D0D0D;
    font-family: 'Open Sans', sans-serif;
}

#header-nav {
    background-color: #025940;
    border-radius: 0px;
    border: 0px;
}

.navbar-header {
    margin: 20px 20px 20px 0px;
}

.navbar-brand  h1 {
    font-family: 'Lora', serif;
    color: #bf9004;
    font-weight: bold;
    text-shadow: 1px 2px 2px #0D0D0D;
    text-transform: uppercase;
    margin: -10px 0px 15px 0px;
    letter-spacing: 0.2em;

}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list a {
    color: #bf9004;
    text-align: center
}
#nav-list a:hover {
    background: #fcefc5;
}
#nav-list a {
    font-size: 1.5em;
    font-weight: medium;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #bf9004;    
}

/*** Home page ***/

#menu-title {
    font-size: 2.5em;
    color: #025940;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 35px;

}

#menu-tile {
    height: 1000px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #402401;
    background: #8C5C03;
}

#menu-tile span {
    position: absolute;
    top: 20px;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    color: #BF9004;

}

#menu-tile p {
    position: absolute;
    text-align: justify;
    margin: 70px 25px 30px 25px;
}

/** Back to top **/

#back-top p {
    position: absolute;
    right: 0;
    bottom: 0;
    color:  #0D0D0D;
    font-size: 1.1em;
}

#back-top p a {
    color: #025940;
    text-shadow: 1px 2px 2px #bf9004;
    font-weight: bold;
    font-size: 1.2em;
}

#back-top a:hover, #back-top a:focus {
    text-decoration: none;
}